In [1]:
#importing the datasets from the libraries
import pandas as pd
test = pd.read_csv("C:/Users/kanum/Desktop/Akshata/DSBA/mini_projects/Loan_Prediction/loan_test_data.csv")
test.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [2]:
train = pd.read_csv("C:/Users/kanum/Desktop/Akshata/DSBA/mini_projects/Loan_Prediction/loan_train_data.csv")
train.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
#importing the libraries from pyhton
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [4]:
train.shape

(614, 13)

In [5]:
test.shape

(367, 12)

In [6]:
#Check for null values in train
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
#Check for null values in test
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [8]:
#Genderwise count
train['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [9]:
test['Gender'].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [10]:
#combining test and train data
#Loan_Status of train is the targets
#Appending Train and Test data
#Drop the Loan_ID
def get_combined_data():
    train1 = pd.read_csv("C:/Users/kanum/Desktop/Akshata/DSBA/mini_projects/Loan_Prediction/loan_train_data.csv")
    test1 = pd.read_csv("C:/Users/kanum/Desktop/Akshata/DSBA/mini_projects/Loan_Prediction/loan_test_data.csv")
    targets = train1.Loan_Status
    train1.drop('Loan_Status', 1, inplace=True)
    combined = train1.append(test1)
    combined.reset_index(inplace=True)
    combined.drop(['index', 'Loan_ID'], inplace=True, axis=1)
    return combined

In [11]:
#Checking the pattern of combined data
combined = get_combined_data()
combined.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,981.000000,981.000000,954.000000,961.000000,902.000000
mean,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,9.000000,6.000000,0.000000
25%,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [12]:
#Imputing the Gender with domainant Male
def impute_gender():
    global combined
    combined['Gender'].fillna('Male', inplace=True)

In [13]:
#Imputing with dominant Married Status 'Yes'
def impute_martial_status():
    global combined
    combined['Married'].fillna('Yes', inplace=True)

In [14]:
#Imputing with dominant Self_Employment 'No'
def impute_employment():
    global combined
    combined['Self_Employed'].fillna('No', inplace=True)

In [15]:
#Imputing the LoanAmount with mean 
def impute_loan_amount():
    global combined
    combined['LoanAmount'].fillna(combined['LoanAmount'].mean(), inplace=True)

In [16]:
#Credit_
def impute_credit_history():
    global combined
    combined['Credit_History'].fillna(2, inplace=True)

In [17]:
combined['Credit_History'].value_counts()

1.0    754
0.0    148
Name: Credit_History, dtype: int64

In [18]:
impute_gender()

In [19]:
impute_martial_status()

In [20]:
impute_employment()

In [21]:
impute_loan_amount()

In [22]:
impute_credit_history()

In [23]:
combined.isnull().sum()

Gender                0
Married               0
Dependents           25
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
dtype: int64

In [24]:
def process_gender():
    global combined
    combined['Gender'] = combined['Gender'].map({'Male':1,'Female':0})

In [25]:
def process_martial_status():
    global combined
    combined['Married'] = combined['Married'].map({'Yes':1,'No':0})

In [26]:
def process_dependents():
    global combined
    combined['Micro'] = combined['Dependents'].map(lambda d: 1 if d=='1' else 0)
    combined['Family'] = combined['Dependents'].map(lambda d: 1 if d=='2' else 0)
    combined['Large'] = combined['Dependents'].map(lambda d: 1 if d=='3+' else 0)
    combined.drop(['Dependents'], axis=1, inplace=True)

In [27]:
def process_education():
    global combined
    combined['Education'] = combined['Education'].map({'Graduate':1,'Not Graduate':0})

In [28]:
def process_employment():
    global combined
    combined['Self_Employed'] = combined['Self_Employed'].map({'Yes':1,'No':0})

In [29]:
#Combined Applicant and Co-Applicant Income
def process_income():
    global combined
    combined['Total_Income'] = combined['ApplicantIncome'] + combined['CoapplicantIncome']
    combined.drop(['ApplicantIncome','CoapplicantIncome'], axis=1, inplace=True)

In [30]:
#def process_loan_amount():
#    global combined
#    combined['Debt_Income_Ratio'] = combined['Total_Income'] / combined['LoanAmount']

In [31]:
combined['Loan_Amount_Term'].value_counts()

360.0    823
180.0     66
480.0     23
300.0     20
240.0      8
84.0       7
120.0      4
36.0       3
60.0       3
12.0       2
350.0      1
6.0        1
Name: Loan_Amount_Term, dtype: int64

In [32]:
#approved_term = train[train['Loan_Status']=='Y']['Loan_Amount_Term'].value_counts()
#unapproved_term = train[train['Loan_Status']=='N']['Loan_Amount_Term'].value_counts()
#df = pd.DataFrame([approved_term,unapproved_term])
#df.index = ['Approved','Unapproved']
#df.plot(kind='bar', stacked=True, figsize=(15,8))

In [33]:
def process_loan_term():
    global combined
    combined['Very_Short_Term'] = combined['Loan_Amount_Term'].map(lambda t: 1 if t<=60 else 0)
    combined['Short_Term'] = combined['Loan_Amount_Term'].map(lambda t: 1 if t>60 and t<180 else 0)
    combined['Long_Term'] = combined['Loan_Amount_Term'].map(lambda t: 1 if t>=180 and t<=300  else 0)
    combined['Very_Long_Term'] = combined['Loan_Amount_Term'].map(lambda t: 1 if t>300 else 0)
    combined.drop('Loan_Amount_Term', axis=1, inplace=True)

In [34]:
def process_credit_history():
    global combined
    combined['Credit_History_Bad'] = combined['Credit_History'].map(lambda c: 1 if c==0 else 0)
    combined['Credit_History_Good'] = combined['Credit_History'].map(lambda c: 1 if c==1 else 0)
    combined['Credit_History_Unknown'] = combined['Credit_History'].map(lambda c: 1 if c==2 else 0)
    combined.drop('Credit_History', axis=1, inplace=True)

In [35]:
def process_property():
    global combined
    property_dummies = pd.get_dummies(combined['Property_Area'], prefix='Property')
    combined = pd.concat([combined, property_dummies], axis=1)
    combined.drop('Property_Area', axis=1, inplace=True)

In [36]:
process_gender()

In [37]:
process_martial_status()

In [38]:
process_dependents()

In [39]:
process_education()

In [40]:
process_employment()

In [41]:
process_income()

In [42]:
process_loan_amount()

NameError: name 'process_loan_amount' is not defined

In [ ]:
process_loan_term()

In [ ]:
process_credit_history()

In [ ]:
process_property()

In [ ]:
combined[60:70]

In [ ]:
def feature_scaling(df):
    df -= df.min()
    df /= df.max()
    return df

In [ ]:
combined['LoanAmount'] = feature_scaling(combined['LoanAmount'])
combined['Total_Income'] = feature_scaling(combined['Total_Income'])
combined['Debt_Income_Ratio'] = feature_scaling(combined['Debt_Income_Ratio'])

In [ ]:
combined[200:210]

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [ ]:
def compute_score(clf, X, y, scoring='accuracy'):
    xval = cross_val_score(clf, X, y, cv = 5, scoring=scoring)
    return np.mean(xval)

In [ ]:
def recover_train_test_target():
    global combined, train
    targets = train['Loan_Status'].map({'Y':1,'N':0})
    train = combined.head(614)
    test = combined.iloc[614:]
    return train, test, targets

In [ ]:
train, test, targets = recover_train_test_target()

In [ ]:
clf = RandomForestClassifier(n_estimators=500, max_features='auto')
clf = clf.fit(train, targets)

In [ ]:
features = pd.DataFrame()
features['Feature'] = train.columns
features['Importance'] = clf.feature_importances_
features.sort_values(by=['Importance'], ascending=False, inplace=True)
features.set_index('Feature', inplace=True)

In [ ]:
features.plot(kind='bar', figsize=(20, 10))

In [ ]:
model = SelectFromModel(clf, prefit=True)
train_reduced = model.transform(train)
train_reduced.shape

In [ ]:
test_reduced = model.transform(test)
test_reduced.shape

In [ ]:
parameters = {'bootstrap': False,
              'min_samples_leaf': 15,
              'n_estimators': 15,
              'min_samples_split': 15,
              'max_features': 'auto',
              'max_depth': 15}

model = RandomForestClassifier(**parameters)
model.fit(train, targets)

In [ ]:
compute_score(model, train, targets, scoring='accuracy')

In [ ]:
output = model.predict(test).astype(int)
df_output = pd.DataFrame()
aux = pd.read_csv("C:/Users/kanum/Desktop/Akshata/DSBA/mini_projects/Loan_Prediction/loan_test_data.csv")
df_output['Loan_ID'] = aux['Loan_ID']
df_output['Loan_Status'] = np.vectorize(lambda s: 'Y' if s==1 else 'N')(output)
df_output[['Loan_ID','Loan_Status']].to_csv('output.csv',index=False)